<main class="main">
  <h1>{{ title }}</h1>
  <div class="form">
    <form #studentForm="ngForm" (ngSubmit)="saveStudent(studentForm.value)">
      <input type="text" placeholder="Your First Name" name="firstName" ngModel required>
      <input type="text" placeholder="Your Email" name="email" ngModel required>
      <button class="btn" [disabled]="studentForm.invalid" type="submit">Add new student</button>
    </form>
  </div>

  <div class="student-list">
    <h2>Student list </h2>
    <ul>
      <div *ngIf="(studentSize === 0)">
        <p>No student yet !</p>
      </div>

      <li *ngFor="let student of students">
        <span class="number">{{student.id}} </span>
        <span>{{student.firstName}}</span>
        <span>{{student.email }}</span>
        <span (click)="onDelete(student.id)" class="material-symbols-outlined delete">
          delete
        </span>
      </li>

    </ul>
  </div>
</main>

<router-outlet></router-outlet>