:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}


main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* box-sizing: inherit; */
    /* position: relative; */
}

main h1 {
    position: absolute;
    top: 2rem;
}

main .form {
    position: absolute;
    top: 10rem;
}

@media screen and (max-width: 650px) {}

h1 {
    text-transform: uppercase;
}

.student-list {
    position: absolute;
    top: 22rem;
}

ul {
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

ul li {
    border: 1px solid #ccc;
    background: white;
    box-shadow: 5px 5px 10px #333;
    border-radius: 20px;
    margin-bottom: 10px;
    list-style: none;
    padding: 10px;
    width: 400px;
}

ul p {
    text-align: center;
    font-weight: 800;
}

ul li:hover {
    color: green;
    box-shadow: none;
    border: 1px solid rgb(7, 121, 203);;

}

.btn {
    border-radius: 15px;
    font-weight: 800;
    padding: 10px;
    border: 1px solid rgb(7, 121, 203);
    background-color: rgb(7, 121, 203);
    min-width: 350px;
    box-shadow: 5px 5px 10px #333;
    color: white;
    transition: ease-in;
    text-transform: uppercase;
    cursor: pointer;
}

.delete {
    color: #f85149;
    font-weight: 700;
}

.delete {
    display: none;
}

li:hover .delete {
    display: inline;
    padding: 0px;
    cursor: pointer;
    transition: none;
}

ul li span {
    padding: 5px;
}

.number {
    color: #238636;
    font-weight: 900;
}

/* 
.btn:hover{
    transition: ease-out;
    box-shadow: 5px 5px 10px white;
} */
form input {
    display: block;
    margin: 10px;
}

input {
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 40px;
    background-color: white;
    color: black;
    font-weight: 800;
    font-size: 14px;
    min-width: 300px;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

input:focus {
    border: 2px solid #4c4cc1;
    outline: #4c4cc1;
}

.delete {
    position: absolute;
    left: 25rem;
}