<div class="container mt-4">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb-4">
            <div class="card h-100" *ngIf="studentById">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img [src]="studentById.imageUrl" alt="{{studentById.firstName }}">
                            </div>
                            <input type="file" class="file-input" (change)="onFileSelected($event,studentById.id)" #fileUpload />
                            <div class="file-upload">
                                {{fileName || "No file uploaded yet."}}
                                <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" *ngIf="studentById">
            <div class="card h-100 p-2">
                <div class="card-body">
                    <form #studentForm="ngForm" (ngSubmit)="onUpdate(studentForm.value)">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h3 class="mb-3 text-primary">Student Details</h3>
                            </div>


                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">First Name</label>
                                    <input type="text" class="form-control" name="firstName"
                                        value="{{studentById.firstName}}">
                                </div>
                                <div class="form-group">
                                    <label for="fullName">Last Name</label>
                                    <input type="text" class="form-control" name="firstName"
                                        value="{{studentById.lastName}}">
                                </div>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Email</label>
                                    <input type="email" class="form-control" name="email"
                                        placeholder="{{studentById.email}}">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Gender</label>
                                    <input type="text" class="form-control" name="gender">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Street">Date of birth</label>
                                    <input type="name" class="form-control" name="dob" value="{{studentById.dob}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                                <div class="form-group">
                                    <label for="ciTy">Place of birth</label>
                                    <input type="name" class="form-control" name="placeOfBorn"
                                        value="{{studentById.placeOfBorn}}">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters ">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="button" id="submit" name="submit"
                                        class="btn btn-danger">Cancel</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" id="submit" name="submit"
                                        class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>